@charset "utf-8";
@import url('bootstrap.min.css');

/*== Page styles
==================================================================*/
body { 
  padding-top: 60px; 
}

.form-stacked {
	padding: 0;
}

.footer {
  background-color: #fff;
  min-width: 920px;
  padding: 30px 20px;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #e5e5e5;
  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
     -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
          box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
}
.footer p {
  color: #555;
}

#pole {
	resize: vertical;
}


/*== Tree styles
==================================================================*/
.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node {
	font: 10px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}